{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css'>
    <style>
        {% for event in allEvents %}
            h1 u {  }}
        {% endfor %}
    </style>
{% endblock %}

{% block body %}

    <div id="event-show">
        <a href="{{ path('event_calendar') }}">Retour au calendrier</a>
        <h1>
            <u style="text-decoration-color: {{ event.categoryFormation.color }};">
                {{ event.title }}
            </u>
            - {{ event.start ? event.start|date|format_date('full', locale='fr') }}
        </h1>
        <p>{{ event.description }}</p>
        <div>
            <h2>Date</h2>
            <ul>
                <li>{{ event.start ? event.start|date|format_date('full', locale='fr') }}</li>
                {% if event.allDay == 0 %}
                    <li>
                        {{ event.start ? event.start|date|format_datetime('none', 'short', locale='fr')}}
                        -
                        {{ event.end ? event.end|date|format_datetime('none', 'short', locale='fr') }}
                    </li>
                {% else %}
                    <li>Journée entière</li>
                {% endif %}
            </ul>
            <h2>Lieu</h2>
            <ul>
                {% for city in event.cities %}
                    <li>{{ city.name }}</li>
                {% endfor %}
            </ul>

        </div>

    </div>




{% endblock %}
