{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}

    <div>
        <h1>{{ event.title }} - {{ event.start ? event.start|date|format_date('full', locale='fr') }}</h1>
        <p>{{ event.description }}</p>
        <div>
            <h2>Date</h2>
            <ul>
                <li>{{ event.start ? event.start|date|format_date('full', locale='fr') }}</li>
                <li>
                    {{ event.start ? event.start|date|format_datetime('none', 'short', locale='fr')}}
                    -
                    {{ event.end ? event.end|date|format_datetime('none', 'short', locale='fr') }}
                </li>
            </ul>
            <h2>Lieu</h2>
            <p>{{ event.place}}</p>
        </div>
    </div>

    <a href="{{ path('event_index') }}">Retour aux dates clés</a>


{% endblock %}
