{{ form_start(form, { 'attr': {'class': 'filters'} }) }}

    {{ form_row(form.search) }}
    <p>Catégories :</p>
    {{ form_row(form.categories, { 'attr': {'class': 'form-categories'} }) }}
    <p>Ecoles :</p>
    {{ form_row(form.cities, { 'attr': {'class': 'form-cities'} }) }}

{{ form_end(form) }}

