{{ form_start(form, { 'attr': {'class': 'filters-list'} }) }}

    {{ form_row(form.search) }}
    <h2 class="filters-title">Catégories :</h2>
    {{ form_row(form.categories, { 'attr': {'class': 'form-categories'} }) }}
    <h2 class="filters-title">Ecoles :</h2>
    {{ form_row(form.cities, { 'attr': {'class': 'form-cities'} }) }}

    <button type="submit" class="btn btn-primary w-100" id="filters-btn">Filtrer</button>

{{ form_end(form) }}

