{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
    <h1 class="mx-auto py-4 text-center">Calendar index</h1>
    <div class="col-10 mx-auto">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Cities</th>
                    <th>Description</th>
                    <th>All_day</th>
                    <th>Category</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for calendar in calendars %}
                    <tr>
                        <td>{{ calendar.id }}</td>
                        <td>{{ calendar.title }}</td>
                        <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            {% for city in calendar.cities %}
                                {{ city.name }}
                            {% endfor %}
                        </td>
                        <td>{{ calendar.description }}</td>
                        <td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
                        <td>{{ calendar.categoryFormation }}</td>
                        <td>
                            <a href="{{ path('calendarBDD_show', {'id': calendar.id}) }}">show</a>
                            <a href="{{ path('calendarBDD_edit', {'id': calendar.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('calendarBDD_new') }}">Ajouter un évènement</a>
        <br><br>
        <a href="{{ path('event_calendar') }}">Retour calendrier</a>

    </div>
{% endblock %}
